body
{
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
a
{
   color: #0000FF;
   text-decoration: underline;
}
a:visited
{
   color: #800080;
}
a:active
{
   color: #FF0000;
}
a:hover
{
   color: #0000FF;
   text-decoration: underline;
}
input:focus, textarea:focus, select:focus
{
   outline: none;
}
#wb_carouselGrid
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#carouselGrid
{
   box-sizing: border-box;
   padding: 50px 15px 50px 15px;
   margin-right: auto;
   margin-left: auto;
   max-width: 1140px;
}
#carouselGrid > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#carouselGrid > .row > .col-1, #carouselGrid > .row > .col-2
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#carouselGrid > .row > .col-1, #carouselGrid > .row > .col-2
{
   float: left;
}
#carouselGrid > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 100%;
   text-align: left;
}
#carouselGrid > .row > .col-2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   display: none;
   width: 0;
   text-align: left;
}
#carouselGrid:before,
#carouselGrid:after,
#carouselGrid .row:before,
#carouselGrid .row:after
{
   display: table;
   content: " ";
}
#carouselGrid:after,
#carouselGrid .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#carouselGrid > .row > .col-1, #carouselGrid > .row > .col-2
{
   float: none;
   width: 100%;
}
}
#wb_Text4 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0px 0px 20px 0px;
   text-align: left;
}
#wb_Text4 div
{
   text-align: left;
}
#wb_Text4
{
   display: block;
   margin: 0px 0px 20px 0px;
   box-sizing: border-box;
   width: 100%;
}
#Button1
{
   border: 1px solid #000000;
   border-radius: 4px;
   background-color: #A9A9A9;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
   padding: 0;
   text-align: center;
   -webkit-appearance: none;
   margin: 10px 0px 10px 0px;
}
#wb_Carousel1
{
   background-color: transparent;
   margin: 0;
}
#wb_Carousel1
{
   box-sizing: border-box;
width: 100%;}
#Carousel1
{
   position: relative;
   margin: 0;
   line-height: 1;
   height: 100%;
   box-sizing: border-box;
}
#Carousel1 .carousel-inner
{
   overflow: hidden;
   width: 100%;
   height: 100%;
   position: relative;
}
.carousel.pointer-event
{
   -ms-touch-action: pan-y;
   touch-action: pan-y;
}
#Carousel1 .carousel-inner::after
{
   display: block;
   clear: both;
   content: "";
}
#Carousel1 .carousel-inner > .carousel-item
{
   display: none;
   position: relative;
   float: left;
   width: 100%;
   margin-right: -100%;
   -webkit-backface-visibility: hidden;
   backface-visibility: hidden;
   -webkit-transition: -webkit-transform 500ms ease-in-out;
   transition: transform 500ms ease-in-out;
   height: 100%;
   text-align: center;
}
#Carousel1 .carousel-item-next:not(.carousel-item-left), #Carousel1 .active.carousel-item-right
{
   -webkit-transform: translateX(100%);
   transform: translateX(100%);
}
#Carousel1 .carousel-item-prev:not(.carousel-item-right), #Carousel1 .active.carousel-item-left
{
   -webkit-transform: translateX(-100%);
   transform: translateX(-100%);
}
#Carousel1 .carousel-innerframe
{
   min-height: 292px;
   padding: 0;
}
#Carousel1 .carousel-inner > .carousel-item > img, #Carousel1 .carousel-inner > .carousel-item > a > img
{
   display: block;
   line-height: 1;
}
#Carousel1 .carousel-inner > .active, #Carousel1 .carousel-inner > .carousel-item-next, #Carousel1 .carousel-inner > .carousel-item-prev
{
   display: block;
}
#Carousel1 .carousel-inner > .carousel-item-next, #Carousel1 .carousel-inner > .carousel-item-prev
{
   position: absolute;
   top: 0;
   width: 100%;
}
#Carousel1 .carousel-indicators
{
   list-style: none;
   bottom: 0;
   padding: 0;
   margin: 0;
   position: absolute;
   margin-left: -63px;
   left: 50%;
   vertical-align: middle;
   z-index: 999;
}
#Carousel1 .carousel-indicators li
{
   display: block;
   float: left;
   padding: 6px 6px 6px 6px;
   width: 30px;
   height: 30px;
   cursor: pointer;
   text-indent: -999px;
   background-repeat: no-repeat;
   background-position: center center;
   background-image: url(images/Carousel1-default.png);
}
#Carousel1 .carousel-indicators .active
{
   background-image: url(images/Carousel1-active.png);
}
#Carousel1 .carousel-control
{
   position: absolute;
   top: 0px;
   bottom: 0px;
   left: 0px;
   width: 15%;
   font-size: 20px;
   color: #fff;
   text-align: center;
   text-shadow: 0px 1px 2px rgba(0,0,0,0.6);
   background-color: rgba(0,0,0,0);
   opacity: 0.5;
   cursor: pointer;
   z-index: 7776;
}
#Carousel1 .carousel-control.carousel-item-right
{
   right: 0px;
   left: auto;
}
.carousel-control .carousel-control-prev-icon
{
   left: 50%;
   margin-left: -10px;
}
.carousel-control .carousel-control-prev-icon, .carousel-control .carousel-control-next-icon
{
   width: 20px;
   height: 20px;
   margin-top: -10px;
}
.carousel-control .carousel-control-prev-icon, .carousel-control .carousel-control-next-icon
{
   position: absolute;
   top: 50%;
   z-index: 5;
   display: inline-block;
   margin-top: -10px;
}
.carousel-control .carousel-control-next-icon
{
   right: 50%;
   margin-right: -10px;
}
#Carousel1 .carousel-control:hover
{
   text-decoration: none;
   outline: 0;
   opacity: .9;
}
.sr-only
{
   position: absolute;
   width: 1px;
   height: 1px;
   padding: 0;
   margin: -1px;
   overflow: hidden;
   clip: rect(0px, 0px, 0px, 0px);
   border: 0;
}
#Carousel1 .frame
{
   width: 1072px;
   display: inline-block;
   float: left;
   height: 292px;
}
#wb_Carousel1 .pagination
{
   bottom: 0;
   left: 0;
   position: absolute;
   text-align: center;
   vertical-align: middle;
   width: 100%;
   z-index: 998;
}
#wb_Carousel1 .pagination img
{
   border-style: none;
   padding: 6px 6px 6px 6px;
}
#Carousel1 .carousel-control-next, #Carousel1 .carousel-control-prev
{
   color: #FFFFFF;
   cursor: pointer;
   text-align: center;
   opacity: 0.5;
}
#Carousel1 .carousel-control-next-icon, #Carousel1 .carousel-control-prev-icon 
{
   display: inline-block;
   width: 20px;
   height: 20px;
   background: transparent no-repeat center center;
   background-size: 100% 100%;
}
#Carousel1 .carousel-control-next:focus, #Carousel1 .carousel-control-next:hover, #Carousel1 .carousel-control-prev:focus, #Carousel1 .carousel-control-prev:hover 
{
   color: #FFFFFF;
   text-decoration: none;
   outline: 0;
   opacity: .9;
}
#Carousel1 .carousel-control-prev-icon 
{
   background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23FFFFFF' viewBox='0 0 8 8'%3E%3Cpath d='M4 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}
#Carousel1 .carousel-control-next-icon 
{
   background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23FFFFFF' viewBox='0 0 8 8'%3E%3Cpath d='M1.5 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}
#Carousel1 .frame-1
{
   background-color: transparent;
   background-image: url('images/聖誕節.png');
   background-repeat: no-repeat;
   background-position: center center;
   background-attachment: scroll;
   background-size: contain;
}
#Carousel1 .frame-2
{
   background-color: transparent;
   background-image: url('images/聖誕.png');
   background-repeat: no-repeat;
   background-position: center center;
   background-attachment: scroll;
   background-size: contain;
}
#Carousel1 .frame-3
{
   background-color: transparent;
   background-image: url('images/nagusame_friend.png');
   background-repeat: no-repeat;
   background-position: center center;
   background-attachment: scroll;
   background-size: contain;
}
#wb_Spinner1
{
   font-size: 13px;
}
#Spinner1
{
   color: #333333;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   margin: 0px 22px 0px 5px;
   text-align: left;
   vertical-align: middle;
}
#wb_Spinner1 .ui-spinner
{   box-sizing: border-box;
   width: 100%;
}
#wb_Spinner1 .ui-corner-all
{
   border-radius: 0px;
}
#wb_Spinner1 .ui-corner-tr
{
   border-top-right-radius: 0px;
}
#wb_Spinner1 .ui-corner-br
{
   border-bottom-right-radius: 0px;
}
#wb_Text1 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text1 div
{
   text-align: center;
}
#wb_Text1
{
   display: block;
   margin: 0;
   box-sizing: border-box;
   width: 100%;
}
#wb_Text2 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text2 div
{
   text-align: center;
}
#wb_Text2
{
   display: block;
   margin: 0;
   box-sizing: border-box;
   width: 100%;
}
#wb_LayoutGrid2
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   height: 10vh;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#LayoutGrid2
{
   box-sizing: border-box;
   height: 10vh;
   padding: 0px 15px 0px 15px;
   margin-right: auto;
   margin-left: auto;
}
#LayoutGrid2 > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid2 > .row > .col-1, #LayoutGrid2 > .row > .col-2, #LayoutGrid2 > .row > .col-3
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#LayoutGrid2 > .row > .col-1, #LayoutGrid2 > .row > .col-2, #LayoutGrid2 > .row > .col-3
{
   float: left;
}
#LayoutGrid2 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 16.66666667%;
   text-align: left;
}
#LayoutGrid2 > .row > .col-2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 16.66666667%;
   text-align: left;
}
#LayoutGrid2 > .row > .col-3
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 66.66666667%;
   text-align: left;
}
#LayoutGrid2:before,
#LayoutGrid2:after,
#LayoutGrid2 .row:before,
#LayoutGrid2 .row:after
{
   display: table;
   content: " ";
}
#LayoutGrid2:after,
#LayoutGrid2 .row:after
{
   clear: both;
}
@media (max-width: 320px)
{
#wb_LayoutGrid2, #LayoutGrid2
{
   height: auto;
}
#LayoutGrid2 > div[class^="col-"]
{
   height: 10vh;
}
#LayoutGrid2 > .row > .col-1, #LayoutGrid2 > .row > .col-2, #LayoutGrid2 > .row > .col-3
{
   float: none;
   width: 100%;
}
}
#wb_Text3 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text3 div
{
   text-align: left;
}
#wb_Text3
{
   display: block;
   margin: 0;
   box-sizing: border-box;
   width: 100%;
}
#wb_LayoutGrid3
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   height: 10vh;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#LayoutGrid3
{
   box-sizing: border-box;
   height: 10vh;
   padding: 0px 15px 0px 15px;
   margin-right: auto;
   margin-left: auto;
}
#LayoutGrid3 > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid3 > .row > .col-1, #LayoutGrid3 > .row > .col-2, #LayoutGrid3 > .row > .col-3
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#LayoutGrid3 > .row > .col-1, #LayoutGrid3 > .row > .col-2, #LayoutGrid3 > .row > .col-3
{
   float: left;
}
#LayoutGrid3 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 16.66666667%;
   text-align: left;
}
#LayoutGrid3 > .row > .col-2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 16.66666667%;
   text-align: left;
}
#LayoutGrid3 > .row > .col-3
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 66.66666667%;
   text-align: left;
}
#LayoutGrid3:before,
#LayoutGrid3:after,
#LayoutGrid3 .row:before,
#LayoutGrid3 .row:after
{
   display: table;
   content: " ";
}
#LayoutGrid3:after,
#LayoutGrid3 .row:after
{
   clear: both;
}
@media (max-width: 320px)
{
#wb_LayoutGrid3, #LayoutGrid3
{
   height: auto;
}
#LayoutGrid3 > div[class^="col-"]
{
   height: 10vh;
}
#LayoutGrid3 > .row > .col-1, #LayoutGrid3 > .row > .col-2, #LayoutGrid3 > .row > .col-3
{
   float: none;
   width: 100%;
}
}
#wb_BlockQuote
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: rgba(255,255,255,0.39);
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
   margin-right: auto;
   margin-left: auto;
   max-width: 1024px;
}
#BlockQuote
{
   box-sizing: border-box;
   padding: 20px 15px 20px 15px;
   margin-right: auto;
   margin-left: auto;
}
#BlockQuote > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#BlockQuote > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#BlockQuote > .row > .col-1
{
   float: left;
}
#BlockQuote > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 100%;
   text-align: center;
}
#BlockQuote:before,
#BlockQuote:after,
#BlockQuote .row:before,
#BlockQuote .row:after
{
   display: table;
   content: " ";
}
#BlockQuote:after,
#BlockQuote .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#BlockQuote > .row > .col-1
{
   float: none;
   width: 100%;
}
}
#wb_Quote 
{
   background-color: transparent;
   background-image: none;
   border-top-width: 0px;
   border-right-width: 0px;
   border-bottom-width: 0px;
   border-left-width: 4px;
   border-top-style: solid;
   border-right-style: solid;
   border-bottom-style: solid;
   border-left-style: solid;
   border-top-color: #275A87;
   border-right-color: #275A87;
   border-bottom-color: #275A87;
   border-left-color: #275A87;
   padding: 10px 20px 10px 20px;
   margin: 0;
   text-align: left;
}
#wb_Quote div
{
   text-align: left;
}
#wb_Quote
{
   display: block;
   margin: 0;
   box-sizing: border-box;
   width: 100%;
}
#Spinner1
{
   width: 100%;
   height: 19px;
   line-height: 19px;
}
#wb_Carousel1
{
}
#Button1
{
   display: inline-block;
   width: 156px;
   height: 37px;
   z-index: 8;
}
#wb_Spinner1
{
   display: inline-block;
   width: 100%;
   z-index: 4;
}
@media only screen and (min-width: 1920px)
{
body
{
   background-color: #FFFFFF;
   background-image: none;
}
#wb_carouselGrid
{
   visibility: visible;
   display: table;
}
#wb_carouselGrid
{
   margin-top: 0px;
   margin-bottom: 0px;
}
#carouselGrid
{
   padding: 50px 15px 50px 15px;
}
#carouselGrid .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#carouselGrid > .row > .col-1, #carouselGrid > .row > .col-2
{
   padding-right: 15px;
   padding-left: 15px;
}
#carouselGrid > .row > .col-1
{
   display: block;
   width: 41.66666667%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: left;
}
#carouselGrid > .row > .col-2
{
   display: block;
   width: 58.33333333%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: left;
}
#wb_Text4
{
   visibility: visible;
   display: block;
}
#wb_Text4
{
   margin: 0px 0px 20px 0px;
   padding: 0;
}
#Button1
{
   width: 156px;
   height: 37px;
   visibility: visible;
   display: inline-block;
   margin: 10px 0px 10px 0px;
   padding: 0;
}
#wb_Carousel1
{
   width: 100%;
   visibility: visible;
   display: block;
}
#Carousel1_back
{
   top: 46%;
}
#Carousel1_next
{
   top: 46%;
}
#wb_Carousel1
{
   margin: 0;
}
#Carousel1 .carousel-innerframe
{
   min-height: 292px;
   padding: 0;
}
#wb_Spinner1
{
   width: 60px;
   height: 27px;
   visibility: visible;
   display: inline-block;
   margin: 0;
}
#Spinner1
{
   width: 33px;
   height: 21px;
}
#wb_Text1
{
   visibility: visible;
   display: block;
}
#wb_Text1
{
   margin: 0;
   padding: 0;
}
#wb_Text2
{
   visibility: visible;
   display: block;
}
#wb_Text2
{
   margin: 0;
   padding: 0;
}
#wb_LayoutGrid2
{
   visibility: visible;
   display: table;
   font-size: 13px;
   font-family: Arial;
   font-weight: 0;
   font-style: normal;
   text-decoration: none;
}
#wb_LayoutGrid2
{
   margin-top: 0px;
   margin-bottom: 0px;
}
#LayoutGrid2
{
   padding: 0px 15px 0px 15px;
}
#LayoutGrid2 .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid2 > .row > .col-1, #LayoutGrid2 > .row > .col-2, #LayoutGrid2 > .row > .col-3
{
   padding-right: 15px;
   padding-left: 15px;
}
#LayoutGrid2 > .row > .col-1
{
   display: block;
   width: 8.33333333%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: left;
}
#LayoutGrid2 > .row > .col-2
{
   display: block;
   width: 8.33333333%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: left;
}
#LayoutGrid2 > .row > .col-3
{
   display: block;
   width: 83.33333333%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: left;
}
#wb_Text3
{
   visibility: visible;
   display: block;
}
#wb_Text3
{
   margin: 0;
   padding: 0;
}
#wb_LayoutGrid3
{
   visibility: visible;
   display: table;
}
#wb_LayoutGrid3
{
   margin-top: 0px;
   margin-bottom: 0px;
}
#LayoutGrid3
{
   padding: 0px 15px 0px 15px;
}
#LayoutGrid3 .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid3 > .row > .col-1, #LayoutGrid3 > .row > .col-2, #LayoutGrid3 > .row > .col-3
{
   padding-right: 15px;
   padding-left: 15px;
}
#LayoutGrid3 > .row > .col-1
{
   display: block;
   width: 8.33333333%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: center;
}
#LayoutGrid3 > .row > .col-2
{
   display: block;
   width: 8.33333333%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: center;
}
#LayoutGrid3 > .row > .col-3
{
   display: block;
   width: 83.33333333%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: center;
}
}
@media only screen and (min-width: 1080px) and (max-width: 1919px)
{
body
{
   background-color: #FFFFFF;
   background-image: none;
}
#wb_carouselGrid
{
   visibility: visible;
   display: table;
}
#wb_carouselGrid
{
   margin-top: 0px;
   margin-bottom: 0px;
}
#carouselGrid
{
   padding: 50px 15px 50px 15px;
}
#carouselGrid .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#carouselGrid > .row > .col-1, #carouselGrid > .row > .col-2
{
   padding-right: 15px;
   padding-left: 15px;
}
#carouselGrid > .row > .col-1
{
   display: block;
   width: 41.66666667%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: left;
}
#carouselGrid > .row > .col-2
{
   display: block;
   width: 58.33333333%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: left;
}
#wb_Text4
{
   visibility: visible;
   display: block;
}
#wb_Text4
{
   margin: 0px 0px 20px 0px;
   padding: 0;
}
#Button1
{
   width: 156px;
   height: 37px;
   visibility: visible;
   display: inline-block;
   margin: 10px 0px 10px 0px;
   padding: 0;
}
#wb_Carousel1
{
   width: 100%;
   visibility: visible;
   display: block;
}
#Carousel1_back
{
   top: 46%;
}
#Carousel1_next
{
   top: 46%;
}
#wb_Carousel1
{
   margin: 0;
}
#Carousel1 .carousel-innerframe
{
   min-height: 292px;
   padding: 0;
}
#wb_Spinner1
{
   width: 70px;
   height: 27px;
   visibility: visible;
   display: inline-block;
   margin: 0;
}
#Spinner1
{
   width: 43px;
   height: 21px;
}
#wb_Text1
{
   visibility: visible;
   display: block;
}
#wb_Text1
{
   margin: 0;
   padding: 0;
}
#wb_Text2
{
   visibility: visible;
   display: block;
}
#wb_Text2
{
   margin: 0;
   padding: 0;
}
#wb_LayoutGrid2
{
   visibility: visible;
   display: table;
   font-size: 13px;
   font-family: Arial;
   font-weight: 0;
   font-style: normal;
   text-decoration: none;
}
#wb_LayoutGrid2
{
   margin-top: 0px;
   margin-bottom: 0px;
}
#LayoutGrid2
{
   padding: 0px 15px 0px 15px;
}
#LayoutGrid2 .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid2 > .row > .col-1, #LayoutGrid2 > .row > .col-2, #LayoutGrid2 > .row > .col-3
{
   padding-right: 15px;
   padding-left: 15px;
}
#LayoutGrid2 > .row > .col-1
{
   display: block;
   width: 16.66666667%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: left;
}
#LayoutGrid2 > .row > .col-2
{
   display: block;
   width: 16.66666667%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: left;
}
#LayoutGrid2 > .row > .col-3
{
   display: block;
   width: 66.66666667%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: left;
}
#wb_Text3
{
   visibility: visible;
   display: block;
}
#wb_Text3
{
   margin: 0;
   padding: 0;
}
#wb_LayoutGrid3
{
   visibility: visible;
   display: table;
}
#wb_LayoutGrid3
{
   margin-top: 0px;
   margin-bottom: 0px;
}
#LayoutGrid3
{
   padding: 0px 15px 0px 15px;
}
#LayoutGrid3 .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid3 > .row > .col-1, #LayoutGrid3 > .row > .col-2, #LayoutGrid3 > .row > .col-3
{
   padding-right: 15px;
   padding-left: 15px;
}
#LayoutGrid3 > .row > .col-1
{
   display: block;
   width: 16.66666667%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: left;
}
#LayoutGrid3 > .row > .col-2
{
   display: block;
   width: 16.66666667%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: left;
}
#LayoutGrid3 > .row > .col-3
{
   display: block;
   width: 66.66666667%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: left;
}
}
@media only screen and (min-width: 760px) and (max-width: 1079px)
{
body
{
   background-color: #FFFFFF;
   background-image: none;
}
#wb_carouselGrid
{
   visibility: visible;
   display: table;
}
#wb_carouselGrid
{
   margin-top: 0px;
   margin-bottom: 0px;
}
#carouselGrid
{
   padding: 0px 15px 0px 15px;
}
#carouselGrid .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#carouselGrid > .row > .col-1, #carouselGrid > .row > .col-2
{
   padding-right: 15px;
   padding-left: 15px;
}
#carouselGrid > .row > .col-1
{
   display: block;
   width: 41.66666667%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: left;
}
#carouselGrid > .row > .col-2
{
   display: block;
   width: 58.33333333%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: left;
}
#wb_Text4
{
   visibility: visible;
   display: block;
}
#wb_Text4
{
   margin: 0px 0px 20px 0px;
   padding: 0;
}
#Button1
{
   width: 156px;
   height: 37px;
   visibility: visible;
   display: inline-block;
   margin: 10px 0px 10px 0px;
   padding: 0;
}
#wb_Carousel1
{
   width: 100%;
   visibility: visible;
   display: block;
}
#Carousel1_back
{
   top: 46%;
}
#Carousel1_next
{
   top: 46%;
}
#wb_Carousel1
{
   margin: 0;
}
#Carousel1 .carousel-innerframe
{
   min-height: 290px;
   padding: 0;
}
#wb_Spinner1
{
   width: 62px;
   height: 29px;
   visibility: visible;
   display: inline-block;
   margin: 0;
}
#Spinner1
{
   width: 35px;
   height: 23px;
}
#wb_Text1
{
   visibility: visible;
   display: block;
}
#wb_Text1
{
   margin: 0;
   padding: 0;
}
#wb_Text2
{
   visibility: visible;
   display: block;
}
#wb_Text2
{
   margin: 0;
   padding: 0;
}
#wb_LayoutGrid2
{
   visibility: visible;
   display: table;
   font-size: 13px;
   font-family: Arial;
   font-weight: 0;
   font-style: normal;
   text-decoration: none;
}
#wb_LayoutGrid2
{
   margin-top: 0px;
   margin-bottom: 0px;
}
#LayoutGrid2
{
   padding: 0px 15px 0px 15px;
}
#LayoutGrid2 .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid2 > .row > .col-1, #LayoutGrid2 > .row > .col-2, #LayoutGrid2 > .row > .col-3
{
   padding-right: 15px;
   padding-left: 15px;
}
#LayoutGrid2 > .row > .col-1
{
   display: block;
   width: 16.66666667%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: left;
}
#LayoutGrid2 > .row > .col-2
{
   display: block;
   width: 16.66666667%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: left;
}
#LayoutGrid2 > .row > .col-3
{
   display: block;
   width: 66.66666667%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: left;
}
#wb_Text3
{
   visibility: visible;
   display: block;
}
#wb_Text3
{
   margin: 0;
   padding: 0;
}
#wb_LayoutGrid3
{
   visibility: visible;
   display: table;
}
#wb_LayoutGrid3
{
   margin-top: 0px;
   margin-bottom: 0px;
}
#LayoutGrid3
{
   padding: 0px 15px 0px 15px;
}
#LayoutGrid3 .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid3 > .row > .col-1, #LayoutGrid3 > .row > .col-2, #LayoutGrid3 > .row > .col-3
{
   padding-right: 15px;
   padding-left: 15px;
}
#LayoutGrid3 > .row > .col-1
{
   display: block;
   width: 16.66666667%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: left;
}
#LayoutGrid3 > .row > .col-2
{
   display: block;
   width: 16.66666667%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: left;
}
#LayoutGrid3 > .row > .col-3
{
   display: block;
   width: 66.66666667%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: left;
}
#wb_BlockQuote
{
   visibility: visible;
   display: table;
}
#wb_BlockQuote
{
   margin-top: 0px;
   margin-bottom: 0px;
}
#BlockQuote
{
   padding: 20px 15px 20px 15px;
}
#BlockQuote .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#BlockQuote > .row > .col-1
{
   padding-right: 15px;
   padding-left: 15px;
}
#BlockQuote > .row > .col-1
{
   display: block;
   width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: center;
}
#wb_Quote
{
   visibility: visible;
   display: block;
}
#wb_Quote
{
   margin: 0;
   padding: 10px 20px 10px 20px;
}
}
@media only screen and (min-width: 560px) and (max-width: 759px)
{
body
{
   background-color: #FFFFFF;
   background-image: none;
}
#wb_carouselGrid
{
   visibility: visible;
   display: table;
}
#wb_carouselGrid
{
   margin-top: 0px;
   margin-bottom: 0px;
}
#carouselGrid
{
   padding: 0px 15px 0px 15px;
}
#carouselGrid .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#carouselGrid > .row > .col-1, #carouselGrid > .row > .col-2
{
   padding-right: 15px;
   padding-left: 15px;
}
#carouselGrid > .row > .col-1
{
   display: block;
   width: 58.33333333%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: left;
}
#carouselGrid > .row > .col-2
{
   display: block;
   width: 41.66666667%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: left;
}
#wb_Text4
{
   visibility: visible;
   display: block;
}
#wb_Text4
{
   margin: 0px 0px 20px 0px;
   padding: 0;
}
#Button1
{
   width: 156px;
   height: 37px;
   visibility: visible;
   display: inline-block;
   margin: 10px 0px 10px 0px;
   padding: 0;
}
#wb_Carousel1
{
   width: 100%;
   visibility: visible;
   display: block;
}
#Carousel1_back
{
   top: 46%;
}
#Carousel1_next
{
   top: 46%;
}
#wb_Carousel1
{
   margin: 0;
}
#Carousel1 .carousel-innerframe
{
   min-height: 292px;
   padding: 0;
}
#wb_Spinner1
{
   width: 71px;
   height: 23px;
   visibility: visible;
   display: inline-block;
   margin: 0;
}
#Spinner1
{
   width: 44px;
   height: 17px;
}
#wb_Text1
{
   visibility: visible;
   display: block;
}
#wb_Text1
{
   float: left;
   margin: 0;
   padding: 0;
}
#wb_Text2
{
   visibility: visible;
   display: block;
}
#wb_Text2
{
   margin: 0;
   padding: 0;
}
#wb_LayoutGrid2
{
   visibility: visible;
   display: table;
   font-size: 13px;
   font-family: Arial;
   font-weight: 0;
   font-style: normal;
   text-decoration: none;
}
#wb_LayoutGrid2
{
   margin-top: 0px;
   margin-bottom: 0px;
}
#LayoutGrid2
{
   padding: 0px 15px 0px 15px;
}
#LayoutGrid2 .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid2 > .row > .col-1, #LayoutGrid2 > .row > .col-2, #LayoutGrid2 > .row > .col-3
{
   padding-right: 15px;
   padding-left: 15px;
}
#LayoutGrid2 > .row > .col-1
{
   display: block;
   width: 50%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: left;
}
#LayoutGrid2 > .row > .col-2
{
   display: block;
   width: 50%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: left;
}
#LayoutGrid2 > .row > .col-3
{
   display: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: left;
}
#wb_Text3
{
   visibility: visible;
   display: block;
}
#wb_Text3
{
   margin: 0;
   padding: 0;
}
#wb_LayoutGrid3
{
   visibility: visible;
   display: table;
}
#wb_LayoutGrid3
{
   align: center;
   margin-top: 0px;
   margin-bottom: 0px;
}
#LayoutGrid3
{
   padding: 0px 15px 0px 15px;
}
#LayoutGrid3 .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid3 > .row > .col-1, #LayoutGrid3 > .row > .col-2, #LayoutGrid3 > .row > .col-3
{
   padding-right: 15px;
   padding-left: 15px;
}
#LayoutGrid3 > .row > .col-1
{
   display: block;
   width: 50%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: left;
}
#LayoutGrid3 > .row > .col-2
{
   display: block;
   width: 50%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: left;
}
#LayoutGrid3 > .row > .col-3
{
   display: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: left;
}
}
@media only screen and (max-width: 559px)
{
body
{
   background-color: #FFFFFF;
   background-image: none;
}
#wb_carouselGrid
{
   visibility: visible;
   display: table;
}
#wb_carouselGrid
{
   margin-top: 0px;
   margin-bottom: 0px;
}
#carouselGrid
{
   padding: 0px 15px 50px 15px;
}
#carouselGrid .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#carouselGrid > .row > .col-1, #carouselGrid > .row > .col-2
{
   padding-right: 15px;
   padding-left: 15px;
}
#carouselGrid > .row > .col-1
{
   display: block;
   width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: center;
}
#carouselGrid > .row > .col-2
{
   display: block;
   width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: left;
}
#wb_Text4
{
   visibility: visible;
   display: block;
}
#wb_Text4
{
   margin: 0px 0px 20px 0px;
   padding: 0;
}
#Button1
{
   width: 156px;
   height: 37px;
   visibility: visible;
   display: inline-block;
   margin: 10px 0px 10px 0px;
   padding: 0;
}
#wb_Carousel1
{
   width: 100%;
   visibility: visible;
   display: block;
}
#Carousel1_back
{
   top: 46%;
}
#Carousel1_next
{
   top: 46%;
}
#wb_Carousel1
{
   margin: 0;
}
#Carousel1 .carousel-innerframe
{
   min-height: 292px;
   padding: 0;
}
#wb_Spinner1
{
   width: 81px;
   height: 30px;
   visibility: visible;
   display: inline-block;
   margin: 0;
}
#Spinner1
{
   width: 54px;
   height: 24px;
}
#wb_Text1
{
   visibility: visible;
   display: block;
}
#wb_Text1
{
   margin: 0;
   padding: 0;
}
#wb_Text2
{
   visibility: visible;
   display: block;
}
#wb_Text2
{
   margin: 0;
   padding: 0;
}
#wb_LayoutGrid2
{
   visibility: visible;
   display: table;
   font-size: 13px;
   font-family: Arial;
   font-weight: 0;
   font-style: normal;
   text-decoration: none;
}
#wb_LayoutGrid2
{
   margin-top: 0px;
   margin-bottom: 0px;
}
#LayoutGrid2
{
   padding: 0;
}
#LayoutGrid2 .row
{
   margin-right: -0px;
   margin-left: -0px;
}
#LayoutGrid2 > .row > .col-1, #LayoutGrid2 > .row > .col-2, #LayoutGrid2 > .row > .col-3
{
   padding-right: 0px;
   padding-left: 0px;
}
#LayoutGrid2 > .row > .col-1
{
   display: block;
   width: 16.66666667%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: center;
}
#LayoutGrid2 > .row > .col-2
{
   display: block;
   width: 25%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: center;
}
#LayoutGrid2 > .row > .col-3
{
   display: block;
   width: 58.33333333%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: center;
}
#wb_Text3
{
   visibility: visible;
   display: block;
}
#wb_Text3
{
   margin: 0;
   padding: 0;
}
#wb_LayoutGrid3
{
   visibility: visible;
   display: table;
}
#wb_LayoutGrid3
{
   margin-top: 0px;
   margin-bottom: 0px;
}
#LayoutGrid3
{
   padding: 0px 1px 0px 1px;
}
#LayoutGrid3 .row
{
   margin-right: -1px;
   margin-left: -1px;
}
#LayoutGrid3 > .row > .col-1, #LayoutGrid3 > .row > .col-2, #LayoutGrid3 > .row > .col-3
{
   padding-right: 1px;
   padding-left: 1px;
}
#LayoutGrid3 > .row > .col-1
{
   display: block;
   width: 16.66666667%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: left;
}
#LayoutGrid3 > .row > .col-2
{
   display: block;
   width: 25%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: left;
}
#LayoutGrid3 > .row > .col-3
{
   display: block;
   width: 58.33333333%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: left;
}
}
